h1
{
    border: 2px solid black;
}
h2
{
    border: 5px dotted white;
}
body
{
    background-color: green;
}
table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 
  
input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    background-color: cyan; 
    color: gray; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
} 
  
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid blue; 
} 